<!Doctype html>
<html lang="en" xmlns:th=" http://thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>Update student</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/students/{id}/(id=${student.getId()})}" th:object="${student}">
    <label for="id"> Id </label>
    <input type="text" th:field="*{id}" id="id"/>
    <label for="firstName"> First Name </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name error</div>

    <label for="lastName"> Last Name </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name error</div>

    <label for="groupId"> Group Id </label>
    <input type="text" th:field="*{groupId}" id="groupId"/>
    <div style="color:red" th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}">Name error</div>

    <label for="email"> Email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>

    <label for="password"> Password </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>

    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>